{% extends "bookings/base.html" %}

{% block title %}Sign Up - Cove{% endblock %}

{% block content %}

<header class="header container section">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="lead display-6">
        <strong>Sign up</strong>
      </h1>
      <p class="my-4 lead">
        Create an account to book a table and manage your reservations at The Cove.
      </p>
    </div>
  </div>
</header>
  
<section class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
  <form method="POST">
    {% csrf_token %}
    
    <!-- Username -->
    <div class="form-field mb-3">
      {{ form.username.label_tag }}
      {{ form.username }}
      {% if form.username.help_text %}
        <div class="help-text">
          {{ form.username.help_text|safe }}
        </div>
      {% endif %}
      {% for error in form.username.errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    </div>
    
    <!-- Email -->
    {% if form.email %}
      <div class="form-field mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.help_text %}
          <div class="help-text">
            {{ form.email.help_text|safe }}
          </div>
        {% endif %}
        {% for error in form.email.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
    
    <!-- Password1 -->
    <div class="form-field mb-3">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {% if form.password1.help_text %}
        <div class="help-text">
          {{ form.password1.help_text|safe }}
        </div>
      {% endif %}
      {% for error in form.password1.errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    </div>
    
    <!-- Password2 -->
    <div class="form-field mb-3">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {% if form.password2.help_text %}
        <div class="help-text">
          {{ form.password2.help_text|safe }}
        </div>
      {% endif %}
      {% for error in form.password2.errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    </div>
    
    <button type="submit" class="btn custom-button-outline w-100">Register</button>
  </form>
  </div>
  </div>
</section>

{% endblock %}